html {
    height: calc(100% - 90px);
    width: 100%;
}

body {
    height: 100%;
    background: linear-gradient(180deg, #FFF0D9 0%, #FFF 50%), #FFF;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}